<div *ngIf = "act">
    <h3>Customer Details</h3>
    <h2>{{customerData.name}}</h2>
    <p class="address"> {{customerData.address.suite}} {{customerData.address.street}} {{customerData.address.city}}</p>
    <p class="mobile">{{customerData.description.phone}}</p>
    <p class="bio">{{customerData.description.website}} {{customerData.description.company.name}} {{customerData.description.company.catchPhrase}} {{customerData.description.company.bs}}</p>
</div>
