<div>
    <div class="clr-row center">
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
            <div class="card">
                <div class="card-header">
                    {{'HOME.TITLE' | translate}}
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <table class="table table-vertical table-noborder">
                            <tbody>
                                <tr>
                                    <th>{{'HOME.NAME' | translate}}</th>
                                    <td>Rishit</td>
                                </tr>
                                <tr>
                                    <th>{{'HOME.UID' | translate}}</th>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th>{{'HOME.EMAIL' | translate}}</th>
                                    <td>abc@gmail.com</td>
                                </tr>
                                <tr>
                                    <th>{{'HOME.WEBSITE' | translate}}</th>
                                    <td>abc.com</td>
                                </tr>
                                <tr>
                                    <th>{{'HOME.COMPANY' | translate}}</th>
                                    <td>abc</td>
                                </tr>
                                <tr>
                                    <th>{{'HOME.GENDER' | translate}}</th>
                                    <td>Male</td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
