<div class="main-container ">
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <h1 >Menu</h1>
                <a class="nav-link nav-icon" routerLink="/customers" (click) ="customer()" [ngClass] = "{'actives': act}"><clr-icon shape="user" status="info" size="lg"></clr-icon> Customer</a>
                <a class="nav-link" (click)="transaction()" [ngClass] = "{'actives': !act}" routerLink ="/transactions"><clr-icon shape="dollar"></clr-icon> Transaction</a>
            </section>
        </nav>
        <div class="content-area menu-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
