h1 {
    padding-left: 2rem;
}
.sidenav {
    background-color: hsl(198, 0%, 87%);
}
.actives {
    background-color: hsl(198, 69%, 69%);
    font-weight: bolder;
}
.menu-content {
    margin-top: -25px;
    padding: 10px;
}