<div >
    <h1 class="center">{{'EVENTS.TITLE' | translate}}</h1>
    <hr>
    <div *ngFor = "let event of events">
        <div class="clr-row center">
            <div class="clr-col-lg-6 clr-col-12">
              <a class="card clickable">
                <div class="card-block">
                    <p class="card-title">
                        {{event.name}}
                    </p>
                    <div class="card-text">
                        <table class="table table-vertical table-noborder">
                            <tbody>
                                <tr>
                                    <th>{{'EVENTS.BIRTHDAY' | translate}}</th>
                                    <td>{{event.birthdate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </a>
            </div>
          </div>
    </div>
    
</div>
