<header class="header-6">
    <div class="branding">
      <a [routerLink] = "['home']" class="nav-link" (click)="act='home'">
        <span class="title">{{'HEADER.TITLE' | translate}}</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink] = "['timeline']"  class="nav-link nav-text" [ngClass] = "{'active': act == 'timeline'}" (click)="act='timeline'">{{'HEADER.TIMELINE' | translate}}</a>
      <a [routerLink] = "['event']" class="nav-link nav-text" [ngClass] = "{'active': act == 'event'}" (click)="act='event'">{{'HEADER.EVENTS' | translate}}</a>
    </div>
    <div class="header-actions">
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle value="option1" name="options" (change)="changeLang()" />
        <label>Translate Hindi</label>
      </clr-toggle-wrapper>
    </div>
</header>
<router-outlet></router-outlet>