<div class="clr-row">
    <div class="clr-col-6">
        <table class="table">
            <caption>
                <h1>Transactions</h1>
            </caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody *ngFor = "let transaction of transactions; let i = index" (click)="detailsRight(transaction)">
              <tr>
                <td>{{transaction.date | date : 'medium'}}</td>
                <td>{{transaction.name}}</td>
                <td>{{transaction.description}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="clr-col-6 right">
        <app-transaction-component></app-transaction-component>
    </div>
</div>
