<div >
    <h1 class="center">{{'HEADER.TIMELINE' | translate}}</h1>
    <hr>
    <div *ngFor = "let timelineP of timeline">
        <div class="clr-row center">
            <div class="clr-col-lg-6 clr-col-12">
              <a class="card clickable">
                <div class="card-img">
                  <img src={{timelineP.image}} />
                </div>
                <div class="card-block">
                    <p class="card-title">
                        {{timelineP.name}}
                    </p>
                  <p class="card-text">
                    {{timelineP.post}}
                  </p>
                </div>
              </a>
            </div>
          </div>
    </div>
    
</div>

