<div class="clr-row">
    <div class="clr-col-6">
        <table class="table">
            <caption>
                <h1>Customers</h1>
            </caption>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody *ngFor="let customer of users">
              <tr (click) = "detailsRight(customer)" (dblclick) = "transactionTimeDetail(customer)">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.address.suite}} {{customer.address.street}} {{customer.address.city}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="clr-col-6 right">
        <app-customer-detail></app-customer-detail>
    </div>
</div>

